@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
}

/* ================= NAVBAR ================= */

.container {
  max-width: 81.25rem;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
}

ul li {
  list-style: none;
  margin-left: 1.25rem;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #181A18;
  font-weight: 600;
}

a:hover {
  color: #00754a;
}

nav {
  box-shadow: 0 0.0625rem 0.125rem rgb(0 0 10%),
              0 0.0625rem 0.0625rem rgb(0 0 6%),
              0 0 0.0625rem rgba(0 0 7%);
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 4.375rem;
  margin-right: 1.25rem;
}

.nav-right {
  display: flex;
  align-items: center;
}

.location {
  display: flex;
  align-items: center;
  margin-right: 1.875rem;
  cursor: pointer;
}

.location img {
  height: 2.5rem;
  margin-right: 0.5rem;
}

.location:hover {
  color: #00754a;
}

.nav-right button {
  margin-left: 1.25rem;
}

.btn {
  padding: 0.4rem 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 2.5rem;
}

.btn-primary {
  border: 0.0625rem solid rgba(0, 0, 0, 0.87);
}

.btn-primary:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.btn-secondary {
  background-color: #181a18;
  color: #fff;
}

.btn-secondary:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7);
}

/* ================= BOX SECTION ================= */

.box {
  background-color: #611010;
  margin: 0 auto 1.75rem auto;
  border-radius: 0.625rem;
}

.box .container {
  max-width: 81.25rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
}

.box-text {
  flex: 1;
  padding: 2.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}

.box-img {
  flex: 1;
  max-height: 28.125rem;
  overflow: hidden;
}

.box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.box-text h1 {
  font-size: 1.625rem;
  margin-bottom: 0.875rem;
  font-weight: 600;
}

.box-text p {
  font-size: 0.9375rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  opacity: 0.95;
}

.box-secondary {
  background-color: #1e3932;
}

.abc {
  width: fit-content;
  padding: 0.625rem 1.625rem;
  background: transparent;
  border: 0.0625rem solid #ffffff;
  color: #ffffff;
  font-size: 0.875rem;
  cursor: pointer;
  border-radius: 1.5625rem;
  transition: 0.3s ease;
}

.abc:hover {
  background: #ffffff;
  color: rgb(15, 65, 15);
}

.box-secondary .container {
  flex-direction: row-reverse;
}

/* ================= BANNER ================= */

.coffee-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e3932;
  color: white;
  gap: 1.25rem;
  padding: 1.75rem 2.375rem;
  width: 100%;
  margin-bottom: 1.875rem;
}

.banner-text {
  font-size: 1.5rem;
  font-weight: 500;
}

.banner-button {
  border: 0.09375rem solid white;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1.125rem;
  border-radius: 62.4375rem;
  font-size: 0.875rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.banner-button:hover {
  background-color: white;
  color: #1e3932;
}

/* ================= FOOTER ================= */

.footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
  padding: 7.5rem 7.5rem;
  border-top: 0.0625rem solid #ddd;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2.7rem;
}

.footer-column h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.875rem;
  color: #000;
}

.footer-column a {
  display: block;
  text-decoration: none;
  font-size: 1rem;
  color: #555;
  margin-bottom: 1.875rem;
  line-height: 1.6;
}

.footer-column a:hover {
  color: #000;
  text-decoration: underline;
}

/* MEDIA QUERIES  */

@media (max-width: 768px) {
  .box {
    margin: 0 1rem 1.75rem;
  }

  .box .container {
    flex-direction: column;
  }

  .box-secondary .container {
    flex-direction: column;
  }

  .box-img {
    max-height: 16.25rem;
  }

  .box-text {
    padding: 2rem;
  }
}

@media (max-width: 1000px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}
